.answer {
	font-size: 100px;
	margin: 10px;
	color: #00A571;
	text-transform: uppercase;
}
.warningContainer {
	text-align: center;
}
.warning {
	margin-top: 4px;
	margin-bottom: 0;
}
.answerContainer {
	text-align: center;
}
body {
	background-color: #38E4AE;
	margin: 0px;
	font-family: Arial, "Time New Roman";
}
input {
	height: 60px;
	width: 100%;
	font-size: 42px;
	background-color: #00A571; 
	border: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
input:focus {
	outline: none;
}
input::-webkit-input-placeholder {
	color: #38E4AE;
	text-transform: none;
}
input::-moz-placeholder {
	color: #38E4AE;
	text-transform: none;
}
input:-ms-input-placeholder { 
	color: #38E4AE;
	text-transform: none;
}