html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}
#drag {
	background-color: blue;
	position: absolute;
	z-index: 2;
}
#pHolder {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	z-index: 1;
}
p {
	font-family: Helvetica;
	font-size: 32px;
	opacity: 0.5;
}
#lineHolder {
	width: 100px;
	height: 100px;
	position: absolute;
}
#line {
	background-color: green;
	position: relative;
	left: 40px;
	top: 40px;
	z-index: 3;
}